.dsf-filterListing{
    background-color: #fff;
    border-radius:5px ;      
}
.dsf-listeng-cards{
    padding: 0 0 0 10px;
    width: 975px;
    height: 53px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #55BC04 ;   
    

}
.dsf-listeng-cards-section{
    padding: 10px 0 10px 40px;
    
}



