header{
    background-color:#55BC04;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 0 0 120px;
}
.dsf-product{
    padding: 0 0 0 950px;
    display: flex;
    align-items: center;
}
.dsf-icon{
    padding: 6px 6px 0 0;
    display: flex;
    align-items: center;
}

